build/
dist/
ml.egg-info/
examples/MNIST_data/
examples/MNIST-data/
examples/model/
examples/checkpoint
ml_python.egg-info/
.idea/
MNIST-data/
tests/MNIST-data/
tests/model/
MANIFEST
test.py
model.pkl.*
checkpoint
test.sh
__pycache__/
.vscode/
*.so

